
body {
    font-family: 'Arial', sans-serif;
    /* background: linear-gradient(135deg, #f5f7fa, #c3cfe2); */
    color: #333;
    width: 100%;
    margin: 0;
    padding: 0;

}

/* Header */
.header {
    position: fixed;
    top: 0; 
    width: 100%; 
    background-color: #fff;
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .header .hcontainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header .hcontainer  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0056d6;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .nav-links a {
    color: #333;
    text-decoration: none;
  }
  
  .hamburger{
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }
  .hamburger span{
    display: block;
    height: 3px;
    background-color:black;
    border-radius: 3px;
  }
  @media (max-width: 768px) {
    .hamburger {
      display: flex;
    }
  }
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      right: 0;
      background-color: whitesmoke;
      padding: 2em;
      width: 40%;
  
      text-align: end;
      border-top: 2px solid #0056d6;
    }
    
    .nav-links.active {
      display: flex;
    }
  }
  
  

#resumeForm {
    margin: 100px auto;
    padding: 40px;
    background-color: whitesmoke;
    overflow-x: hidden;
  
}

#personal-details input{
    width: 300px;
}

.flex{
    display: flex;
    flex-wrap:wrap;
  justify-content: space-between;

}
.inputflex{
    width: 370px;
}
.input{
    width: 300px;
}
h1 {
    text-align: center;
    margin-bottom: 30px;
    color: rgb(5, 5, 26);
    color: white;
    font-size: 2.5rem;
    font-weight: bolder;
    font-size: 2.5 rem;
    text-shadow: 2px 2px 8px rgba(63, 64, 65, 0.5);
}


#content-item{
    display: flex;
    flex-direction: row;
    gap: 1em;
}


form {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    max-width: 50em;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

form:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.sections {
    border: 2px solid #3d3e3f;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: rgb(74, 74, 80);
    font-size: 1.75rem;
    font-weight: bolder;
    text-shadow: 2px 2px 8px rgba(63, 64, 65, 0.5);
  
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 14px;
    background-color: #f9f9f9;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    overflow: hidden;
    margin-right: auto;
}
input{
    width: 90%;
}
input:focus,
select:focus,
textarea:focus {
    background-color: #e6f7ff;
    box-shadow: 0 0 8px rgba(0, 115, 230, 0.3);
}
button {
    display: block;
    background-color:#333;
    color: white;
    padding: 8px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin:  auto;
    width: 20%;
}

button:hover {
    background-color:  rgb(44, 44, 77);
    box-shadow: 0 8px 15px#333;
}


#optional{
    display: flex;
    flex-direction: column;
      gap: 1em;
  }
  
  #optional button{
      width: 30%;
  }


@media (max-width: 480px) {
 
#resumeForm {
    padding: 10px;
    overflow: hidden;
  
}

#personal-details input{
  width: 200px;
}


h1 {

    font-size: 1.5em;
  
}


input,
select,
textarea {
  
    flex-wrap: wrap;
}

button {
   
    padding: 6px;
    font-size: 16px;  
    width: 50%;
}


#optional{
  display: flex;
  flex-direction: column;
    gap: 1em;
}
#optional button{
    width: 50%;
}

#content-item{
    gap: 0.25em;
    
}

}
.Dbutton{
margin-bottom: 2em;
}




/* 
                         Generated Resume */
 /* generated resume styling is in cv.css file */
                         /* Footer */
  .footer{
    background-color: #333;
  }
  .footer p{
    color: white;
    text-align: center;
    padding-bottom: 1em;
  }
  
  .footer-container{
    background-color: #333;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 1rem 2rem;
    justify-content: space-between;
  }

  .footer-container #social-icons{
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  .footer-container #social-icons i{
    background-color: #0070f3;
    color: white;
    padding:8px ;
    border-radius: 50%;
    gap: 2em;
  }

    .footer-container #social-icons i:hover{
      background-color: white ;
      color: #0070f3;
  }


  @media(min-width:760px){
    .footer-container{
      flex-direction: row;
    }
   
  }
